{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>The Maxest Max</h1>
            <span class="subheading">Wor(l)d smith and code creator.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h4>SUMMARY</h4>
        <p>
          I am a Game Designer with strong skills in narrative design, feature documentation and presentation.<br>
          I have over 10 years of game project experience, including 6+ years in a co-founded startup with two self-published titles and six commissioned learning games shipped.<br>
          When creating games and their content I rely on my passion for art & design and an almost encyclopedic knowledge in worldbuilding.<br>
        </p>
        <h4>SOFTWARE</h4>
        <p>
          I'm well-versed and proficient in the following software:<br>
          <br>
          ✔ Unity 3D<br>
          Used in almost all of my projects for asset implementation and prefab creation, scene/level setup, 2D character animations and particle effects.<br>
          <br>
          ✔ Photoshop & Illustrator<br>
          My go-to tools for quickly visualizing design concepts, game mechanics and creating appealing presentations. Used in several titles to create UI graphics, 2D character art and level content.<br>
          <br>
          ✔ After Effects & Premiere<br>
          Used for 2D character & VFX animations, (product) presentation videos and social media advertisements.<br>
          <br>
          ✔ Google Docs / Microsoft Office / XMind<br>
          Mostly used for documentation of design features, narrative content, game mechanics and rules, as well as spreadsheet stat calculations for RPG character creation and reward items.<br>
          <br>
        </p>
        <p>
          <strong>»Logic will get you from A to B. Imagination will take you everywhere.«</strong><br>
          <em>- Albert Einstein</em></p>
        <p>
          Combining the best of both worlds is what makes a substantial part of any project and a valuable asset for your team. While I allow myself to dream big when it suits the moment, I'm capable of instantly switching back to rational decision making and getting things done.<br>
          Come with me from <strong>A</strong> to <strong>B</strong> to <strong>E</strong>(verywhere).
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}